<div class="row">
  <div class="col">
    <h1>Your phonebook</h1><button class="btn btn-lg btn-primary" (click)="reload()">Reload</button>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <input type="text" class="form-control" placeholder="Filter data..." (keyup)="onKey($event)">
  </div>
</div>
<div class="row">
  <div class="col">
    <app-phonebook-list [phonebookEntries]="entries | async" [filter]="filterQuery"></app-phonebook-list>
  </div>
</div>
<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="addEntry()">Add an entry</button>
  </div>
</div>